<div class="container">
  <select [(ngModel)]="_selectedOption" (change)="selectOption()">
    <option value="" disabled selected>Select an option</option>
    <option [value]="''">none</option>
    <option *ngFor="let option of options" [value]="option">{{ option }}</option>
  </select>
  <div class="input-section">
    <input type="text" [(ngModel)]="_newOption" placeholder="Enter a new option" (keyup.enter)="addOption()">
    <button (click)="addOption()" class="default-button">Add</button>
  </div>
</div>
