/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto', serif;
  background: #212121;
  color: white;
}

select {
  font-family: 'Roboto', serif;
  height: 25px;
  background: #161616;
  color: white;
  border: none;
}

input {
  font-family: 'Roboto', serif;
  height: 25px;
  background: #161616;
  color: white;
  border: none;
}

input[type=text] {
  padding: 0 5px;
}

.default-button {
  height: 25px;
  cursor: pointer;
  color: white;
  background: blueviolet;
  border:none;
  padding: 5px 10px;
  &:hover {
    background: #4b187b;
  }
}
