<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <label for="task">Task: </label>
      <div class="input-section">
        <input id="task" type="text" formControlName="todo">
        <button type="submit" class="default-button submit-button">Save task</button>
      </div>
    </div>
    <div *ngIf="todo?.invalid && (todo?.dirty || todo?.touched)" class="errors-container">
      <div *ngIf="todo?.errors?.['required']">
        Todo is required.
      </div>
      <div *ngIf="todo?.errors?.['minlength']">
        Name must be at least 2 characters long.
      </div>
    </div>
</form>
